networks:
  app-network:

volumes:
  postgres_data:
  redis_data:

services:

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./services/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nginx", "-t"]
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      - auth-service
    networks:
      - app-network
  
  db:
    image: postgres:15-alpine
    container_name : db
    hostname: postgres
    restart: unless-stopped 
    env_file:
      - .env
    environment:
      # User
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data 
      - ./docker-init-db:/docker-entrypoint-initdb.d
    healthcheck:                                
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d vpndb"]
      interval: 10s
      timeout: 5s
      retries: 5 
      start_period: 20s
    networks:
      - app-network

  auth-service:
    build: .
    container_name: auth-service
    ports:
      - "8001:8001"
    environment:
      - SERVICE_PORT=8001
      - SERVICE_NAME=auth
      - VPN_SERVICE_URL=http://vpn-service:8002
    volumes:
      - ./auth:/app/auth
      - ./shared:/app/shared
      - ./.env:/app/.env
    command: ["sh", "-c", "python -m auth.main"]
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network


  
